<section class="bywin_product">
    <div class="container">
        <h2>Продукты BuyWin</h2>
        <div class="owl-carousel bywin_product_carousel">
            <div class="item">
                <div class="bywin_product_card">
                    <div class="bywin_product_card_img">
                        <img src="./images/product/11.png" alt="">
                    </div>
                    <div class="bywin_product_card_title">
                        Кепка BuyWin
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bywin_product_card">
                    <div class="bywin_product_card_img">
                        <img src="./images/product/12.png" alt="">
                    </div>
                    <div class="bywin_product_card_title">
                        Кепка BuyWin
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bywin_product_card">
                    <div class="bywin_product_card_img">
                        <img src="./images/product/13.png" alt="">
                    </div>
                    <div class="bywin_product_card_title">
                        Кепка BuyWin
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bywin_product_card">
                    <div class="bywin_product_card_img">
                        <img src="./images/product/14.png" alt="">
                    </div>
                    <div class="bywin_product_card_title">
                        Кепка BuyWin
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bywin_product_card">
                    <div class="bywin_product_card_img">
                        <img src="./images/product/11.png" alt="">
                    </div>
                    <div class="bywin_product_card_title">
                        Кепка BuyWin
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bywin_product_card">
                    <div class="bywin_product_card_img">
                        <img src="./images/product/12.png" alt="">
                    </div>
                    <div class="bywin_product_card_title">
                        Кепка BuyWin
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bywin_product_card">
                    <div class="bywin_product_card_img">
                        <img src="./images/product/13.png" alt="">
                    </div>
                    <div class="bywin_product_card_title">
                        Кепка BuyWin
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bywin_product_card">
                    <div class="bywin_product_card_img">
                        <img src="./images/product/14.png" alt="">
                    </div>
                    <div class="bywin_product_card_title">
                        Кепка BuyWin
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>