<div class="row">
    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card_tab">
            <div class="first_block">
                <div class="first_block_img">
                    <img src="./images/product/1.png" alt="">
                </div>
                <div class="first_block_title">
                    <h2>Купи <br><b>Iphone 11</b></h2>
                    <p>Оставайтесь увлажненными и заряженными энергией с нашей новой колбой Saava</p>
                    <form class="first_block_cart">
                        <span class="inc">-</span>
                        <input type="text" value="1" readonly>
                        <span class="dec">+</span>
                        <button type="submit">Добавить в корзину</button>
                    </form>
                </div>
                <div class="first_block_price">
                    <div class="first_block_price_block">
                        USD 84.00
                    </div>
                    <div class="first_block_price_text">
                        Product price per
                        unit Including
                        all taxes
                    </div>
                    <div class="first_block_price_wishlist">
                        <a class="heart" href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="first_block_price_share">
                        <a href="#!"><i class="fas fa-share-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="second_block">
                <div class="second_block_img">
                    <svg width="95" height="119" viewBox="0 0 95 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M51.2 59.2c-.4-21.9 29.7-31.9 27.7-48.3H16c-2 16.4 28 26.5 27.7 48.3C44 81.1 14 91.1 16 107.5h62.9c2-16.4-28.1-26.4-27.7-48.3z" fill-rule="evenodd" clip-rule="evenodd" fill="#fff" />
                        <path d="M55.2 59.2c0-21.6 31.8-27.9 27.1-52.3H47.4v4h31.4c2 16.4-28 26.5-27.7 48.3-.4 21.9 29.7 31.9 27.7 48.3H47.4v4h34.9C87 87 55.2 80.7 55.2 59.2zM47.4 6.8H12.6C7.9 31.3 39.7 37.6 39.7 59.2S7.9 87 12.6 111.5h34.9v-4H16C14 91.1 44 81 43.7 59.2 44 37.3 14 27.3 16 10.8h31.4v-4z" fill-rule="evenodd" clip-rule="evenodd" fill="#e5e5e5" />
                        <path d="M46.9 59.5c0 4-.9 7.9-2.6 11.6-2.2 4.6-5.2 8.8-8.8 12.5-3.5 3.8-7.2 7.3-10.6 11.1-2.1 2.3-3.8 4.9-5.1 7.7H75c-1.2-2.8-3-5.4-5.1-7.7-3.4-3.9-7.2-7.4-10.6-11.1C53 76.7 48 69.2 48 59.5h-1.1z" fill-rule="evenodd" clip-rule="evenodd" fill="#ff6262" />
                        <!-- Тут нужно менять свойство Y от 0 до 59 соответственно 0 это полное заполнение а 59 пусто вы там делаете следующую калькуляцию (sold / tatal) * 59-->
                        <rect x="0" y="0" mask="url(#fillMask)" fill-rule="evenodd" clip-rule="evenodd" fill="#61c652" width="95" height="59" />
                        <path d="M6.8 0H88c1.8 0 3.6.7 4.8 2 1.3 1.3 2 3 2 4.8 0 1.8-.7 3.6-2 4.8-1.3 1.3-3 2-4.8 2H6.8c-1.8 0-3.6-.7-4.8-2-1.3-1.3-2-3-2-4.8C0 5 .7 3.3 2 2s3-2 4.8-2z" fill-rule="evenodd" clip-rule="evenodd" fill="#f4f4f4" />
                        <path d="M88 104.9H6.8C3 104.9 0 108 0 111.7c0 3.8 3.1 6.8 6.8 6.8H88c3.8 0 6.9-3.1 6.9-6.8s-3.1-6.8-6.9-6.8z" fill="#f4f4f4" />
                        <mask id="fillMask">
                            <path d="M0 0h400v400H0z" />
                            <path fill="#fff" d="M48.1 58.9c0-4 .9-7.9 2.6-11.6 2.2-4.6 5.2-8.8 8.8-12.5 3.5-3.8 7.2-7.3 10.6-11.1 2.1-2.3 3.8-4.9 5.1-7.7H20c1.2 2.8 3 5.4 5.1 7.7 3.4 3.8 7.2 7.3 10.6 11.1C42 41.7 47 49.2 47 58.9h1.1z" />
                        </mask>
                    </svg>

                </div>
                <div class="second_block_text we_count_anim_b">
                    <p sales="418" class="second_block_text_green we_count_anim"><span>418</span> ПРОДАНО</p>
                    <p total_sales="589" class="second_block_text_red">ИЗ<span>589</span></p>
                </div>
            </div>
            <div class="third_block">
                <div class="third_block_img">
                    <img src="./images/product/2.png" alt="">
                </div>
                <div class="third_block_text">
                    <h2>Получи шанс выграть <br>
                        <b>Iphone 11 pro</b></h2>
                    <p>Оставайтесь увлажненными и заряженными энергией с нашей новой колбой Saava</p>
                    <a href="#!" data-toggle="modal" data-target="#exampleModalCenter">Узнайте об этом призе</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card_tab">
            <div class="first_block">
                <div class="first_block_img">
                    <img src="./images/product/3.png" alt="">
                </div>
                <div class="first_block_title">
                    <h2>Купи <br><b>Iphone 11</b></h2>
                    <p>Оставайтесь увлажненными и заряженными энергией с нашей новой колбой Saava</p>
                    <form class="first_block_cart">
                        <span class="inc">-</span>
                        <input type="text" value="1" readonly>
                        <span class="dec">+</span>
                        <button type="submit">Добавить в корзину</button>
                    </form>
                </div>
                <div class="first_block_price">
                    <div class="first_block_price_block">
                        USD 84.00
                    </div>
                    <div class="first_block_price_text">
                        Product price per
                        unit Including
                        all taxes
                    </div>
                    <div class="first_block_price_wishlist">
                        <a class="heart" href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="first_block_price_share">
                        <a href="#!"><i class="fas fa-share-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="second_block">
                <div class="second_block_img">
                    <svg width="95" height="119" viewBox="0 0 95 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M51.2 59.2c-.4-21.9 29.7-31.9 27.7-48.3H16c-2 16.4 28 26.5 27.7 48.3C44 81.1 14 91.1 16 107.5h62.9c2-16.4-28.1-26.4-27.7-48.3z" fill-rule="evenodd" clip-rule="evenodd" fill="#fff" />
                        <path d="M55.2 59.2c0-21.6 31.8-27.9 27.1-52.3H47.4v4h31.4c2 16.4-28 26.5-27.7 48.3-.4 21.9 29.7 31.9 27.7 48.3H47.4v4h34.9C87 87 55.2 80.7 55.2 59.2zM47.4 6.8H12.6C7.9 31.3 39.7 37.6 39.7 59.2S7.9 87 12.6 111.5h34.9v-4H16C14 91.1 44 81 43.7 59.2 44 37.3 14 27.3 16 10.8h31.4v-4z" fill-rule="evenodd" clip-rule="evenodd" fill="#e5e5e5" />
                        <path d="M46.9 59.5c0 4-.9 7.9-2.6 11.6-2.2 4.6-5.2 8.8-8.8 12.5-3.5 3.8-7.2 7.3-10.6 11.1-2.1 2.3-3.8 4.9-5.1 7.7H75c-1.2-2.8-3-5.4-5.1-7.7-3.4-3.9-7.2-7.4-10.6-11.1C53 76.7 48 69.2 48 59.5h-1.1z" fill-rule="evenodd" clip-rule="evenodd" fill="#ff6262" />
                        <!-- Тут нужно менять свойство Y от 0 до 59 соответственно 0 это полное заполнение а 59 пусто вы там делаете следующую калькуляцию (sold / tatal) * 59-->
                        <rect x="0" y="0" mask="url(#fillMask)" fill-rule="evenodd" clip-rule="evenodd" fill="#61c652" width="95" height="59" />
                        <path d="M6.8 0H88c1.8 0 3.6.7 4.8 2 1.3 1.3 2 3 2 4.8 0 1.8-.7 3.6-2 4.8-1.3 1.3-3 2-4.8 2H6.8c-1.8 0-3.6-.7-4.8-2-1.3-1.3-2-3-2-4.8C0 5 .7 3.3 2 2s3-2 4.8-2z" fill-rule="evenodd" clip-rule="evenodd" fill="#f4f4f4" />
                        <path d="M88 104.9H6.8C3 104.9 0 108 0 111.7c0 3.8 3.1 6.8 6.8 6.8H88c3.8 0 6.9-3.1 6.9-6.8s-3.1-6.8-6.9-6.8z" fill="#f4f4f4" />
                        <mask id="fillMask">
                            <path d="M0 0h400v400H0z" />
                            <path fill="#fff" d="M48.1 58.9c0-4 .9-7.9 2.6-11.6 2.2-4.6 5.2-8.8 8.8-12.5 3.5-3.8 7.2-7.3 10.6-11.1 2.1-2.3 3.8-4.9 5.1-7.7H20c1.2 2.8 3 5.4 5.1 7.7 3.4 3.8 7.2 7.3 10.6 11.1C42 41.7 47 49.2 47 58.9h1.1z" />
                        </mask>
                    </svg>

                </div>
                <div class="second_block_text we_count_anim_b">
                    <p sales="212" class="second_block_text_green we_count_anim"><span>212</span> ПРОДАНО</p>
                    <p total_sales="589" class="second_block_text_red">ИЗ<span>589</span></p>
                </div>
            </div>
            <div class="third_block">
                <div class="third_block_img">
                    <img src="./images/product/4.png" alt="">
                </div>
                <div class="third_block_text">
                    <h2>Получи шанс выграть <br>
                        <b>Iphone 11 pro</b></h2>
                    <p>Оставайтесь увлажненными и заряженными энергией с нашей новой колбой Saava</p>
                    <a href="#!" data-toggle="modal" data-target="#exampleModalCenter">Узнайте об этом призе</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card_tab">
            <div class="first_block">
                <div class="first_block_img">
                    <img src="./images/product/5.png" alt="">
                </div>
                <div class="first_block_title">
                    <h2>Купи <br><b>Iphone 11</b></h2>
                    <p>Оставайтесь увлажненными и заряженными энергией с нашей новой колбой Saava</p>
                    <form class="first_block_cart">
                        <span class="inc">-</span>
                        <input type="text" value="1" readonly>
                        <span class="dec">+</span>
                        <button type="submit">Добавить в корзину</button>
                    </form>
                </div>
                <div class="first_block_price">
                    <div class="first_block_price_block">
                        USD 84.00
                    </div>
                    <div class="first_block_price_text">
                        Product price per
                        unit Including
                        all taxes
                    </div>
                    <div class="first_block_price_wishlist">
                        <a class="heart" href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="first_block_price_share">
                        <a href="#!"><i class="fas fa-share-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="second_block">
                <div class="second_block_img">
                    <svg width="95" height="119" viewBox="0 0 95 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M51.2 59.2c-.4-21.9 29.7-31.9 27.7-48.3H16c-2 16.4 28 26.5 27.7 48.3C44 81.1 14 91.1 16 107.5h62.9c2-16.4-28.1-26.4-27.7-48.3z" fill-rule="evenodd" clip-rule="evenodd" fill="#fff" />
                        <path d="M55.2 59.2c0-21.6 31.8-27.9 27.1-52.3H47.4v4h31.4c2 16.4-28 26.5-27.7 48.3-.4 21.9 29.7 31.9 27.7 48.3H47.4v4h34.9C87 87 55.2 80.7 55.2 59.2zM47.4 6.8H12.6C7.9 31.3 39.7 37.6 39.7 59.2S7.9 87 12.6 111.5h34.9v-4H16C14 91.1 44 81 43.7 59.2 44 37.3 14 27.3 16 10.8h31.4v-4z" fill-rule="evenodd" clip-rule="evenodd" fill="#e5e5e5" />
                        <path d="M46.9 59.5c0 4-.9 7.9-2.6 11.6-2.2 4.6-5.2 8.8-8.8 12.5-3.5 3.8-7.2 7.3-10.6 11.1-2.1 2.3-3.8 4.9-5.1 7.7H75c-1.2-2.8-3-5.4-5.1-7.7-3.4-3.9-7.2-7.4-10.6-11.1C53 76.7 48 69.2 48 59.5h-1.1z" fill-rule="evenodd" clip-rule="evenodd" fill="#ff6262" />
                        <!-- Тут нужно менять свойство Y от 0 до 59 соответственно 0 это полное заполнение а 59 пусто вы там делаете следующую калькуляцию (sold / tatal) * 59-->
                        <rect x="0" y="0" mask="url(#fillMask)" fill-rule="evenodd" clip-rule="evenodd" fill="#61c652" width="95" height="59" />
                        <path d="M6.8 0H88c1.8 0 3.6.7 4.8 2 1.3 1.3 2 3 2 4.8 0 1.8-.7 3.6-2 4.8-1.3 1.3-3 2-4.8 2H6.8c-1.8 0-3.6-.7-4.8-2-1.3-1.3-2-3-2-4.8C0 5 .7 3.3 2 2s3-2 4.8-2z" fill-rule="evenodd" clip-rule="evenodd" fill="#f4f4f4" />
                        <path d="M88 104.9H6.8C3 104.9 0 108 0 111.7c0 3.8 3.1 6.8 6.8 6.8H88c3.8 0 6.9-3.1 6.9-6.8s-3.1-6.8-6.9-6.8z" fill="#f4f4f4" />
                        <mask id="fillMask">
                            <path d="M0 0h400v400H0z" />
                            <path fill="#fff" d="M48.1 58.9c0-4 .9-7.9 2.6-11.6 2.2-4.6 5.2-8.8 8.8-12.5 3.5-3.8 7.2-7.3 10.6-11.1 2.1-2.3 3.8-4.9 5.1-7.7H20c1.2 2.8 3 5.4 5.1 7.7 3.4 3.8 7.2 7.3 10.6 11.1C42 41.7 47 49.2 47 58.9h1.1z" />
                        </mask>
                    </svg>

                </div>
                <div class="second_block_text we_count_anim_b">
                    <p sales="142" class="second_block_text_green we_count_anim"><span>142</span> ПРОДАНО</p>
                    <p total_sales="589" class="second_block_text_red">ИЗ<span>589</span></p>
                </div>
            </div>
            <div class="third_block">
                <div class="third_block_img">
                    <img src="./images/product/6.png" alt="">
                </div>
                <div class="third_block_text">
                    <h2>Получи шанс выграть <br>
                        <b>Iphone 11 pro</b></h2>
                    <p>Оставайтесь увлажненными и заряженными энергией с нашей новой колбой Saava</p>
                    <a href="#!" data-toggle="modal" data-target="#exampleModalCenter">Узнайте об этом призе</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card_tab">
            <div class="first_block">
                <div class="first_block_img">
                    <img src="./images/product/3.png" alt="">
                </div>
                <div class="first_block_title">
                    <h2>Купи <br><b>Iphone 11</b></h2>
                    <p>Оставайтесь увлажненными и заряженными энергией с нашей новой колбой Saava</p>
                    <form class="first_block_cart">
                        <span class="inc">-</span>
                        <input type="text" value="1" readonly>
                        <span class="dec">+</span>
                        <button type="submit">Добавить в корзину</button>
                    </form>
                </div>
                <div class="first_block_price">
                    <div class="first_block_price_block">
                        USD 84.00
                    </div>
                    <div class="first_block_price_text">
                        Product price per
                        unit Including
                        all taxes
                    </div>
                    <div class="first_block_price_wishlist">
                        <a class="heart" href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="first_block_price_share">
                        <a href="#!"><i class="fas fa-share-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="second_block">
                <div class="second_block_img">
                    <svg width="95" height="119" viewBox="0 0 95 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M51.2 59.2c-.4-21.9 29.7-31.9 27.7-48.3H16c-2 16.4 28 26.5 27.7 48.3C44 81.1 14 91.1 16 107.5h62.9c2-16.4-28.1-26.4-27.7-48.3z" fill-rule="evenodd" clip-rule="evenodd" fill="#fff" />
                        <path d="M55.2 59.2c0-21.6 31.8-27.9 27.1-52.3H47.4v4h31.4c2 16.4-28 26.5-27.7 48.3-.4 21.9 29.7 31.9 27.7 48.3H47.4v4h34.9C87 87 55.2 80.7 55.2 59.2zM47.4 6.8H12.6C7.9 31.3 39.7 37.6 39.7 59.2S7.9 87 12.6 111.5h34.9v-4H16C14 91.1 44 81 43.7 59.2 44 37.3 14 27.3 16 10.8h31.4v-4z" fill-rule="evenodd" clip-rule="evenodd" fill="#e5e5e5" />
                        <path d="M46.9 59.5c0 4-.9 7.9-2.6 11.6-2.2 4.6-5.2 8.8-8.8 12.5-3.5 3.8-7.2 7.3-10.6 11.1-2.1 2.3-3.8 4.9-5.1 7.7H75c-1.2-2.8-3-5.4-5.1-7.7-3.4-3.9-7.2-7.4-10.6-11.1C53 76.7 48 69.2 48 59.5h-1.1z" fill-rule="evenodd" clip-rule="evenodd" fill="#ff6262" />
                        <!-- Тут нужно менять свойство Y от 0 до 59 соответственно 0 это полное заполнение а 59 пусто вы там делаете следующую калькуляцию (sold / tatal) * 59-->
                        <rect x="0" y="0" mask="url(#fillMask)" fill-rule="evenodd" clip-rule="evenodd" fill="#61c652" width="95" height="59" />
                        <path d="M6.8 0H88c1.8 0 3.6.7 4.8 2 1.3 1.3 2 3 2 4.8 0 1.8-.7 3.6-2 4.8-1.3 1.3-3 2-4.8 2H6.8c-1.8 0-3.6-.7-4.8-2-1.3-1.3-2-3-2-4.8C0 5 .7 3.3 2 2s3-2 4.8-2z" fill-rule="evenodd" clip-rule="evenodd" fill="#f4f4f4" />
                        <path d="M88 104.9H6.8C3 104.9 0 108 0 111.7c0 3.8 3.1 6.8 6.8 6.8H88c3.8 0 6.9-3.1 6.9-6.8s-3.1-6.8-6.9-6.8z" fill="#f4f4f4" />
                        <mask id="fillMask">
                            <path d="M0 0h400v400H0z" />
                            <path fill="#fff" d="M48.1 58.9c0-4 .9-7.9 2.6-11.6 2.2-4.6 5.2-8.8 8.8-12.5 3.5-3.8 7.2-7.3 10.6-11.1 2.1-2.3 3.8-4.9 5.1-7.7H20c1.2 2.8 3 5.4 5.1 7.7 3.4 3.8 7.2 7.3 10.6 11.1C42 41.7 47 49.2 47 58.9h1.1z" />
                        </mask>
                    </svg>

                </div>
                <div class="second_block_text we_count_anim_b">
                    <p sales="235" class="second_block_text_green we_count_anim"><span>235</span> ПРОДАНО</p>
                    <p total_sales="589" class="second_block_text_red">ИЗ<span>589</span></p>
                </div>
            </div>
            <div class="third_block">
                <div class="third_block_img">
                    <img src="./images/product/7.png" alt="">
                </div>
                <div class="third_block_text">
                    <h2>Получи шанс выграть <br>
                        <b>Iphone 11 pro</b></h2>
                    <p>Оставайтесь увлажненными и заряженными энергией с нашей новой колбой Saava</p>
                    <a href="#!" data-toggle="modal" data-target="#exampleModalCenter">Узнайте об этом призе</a>
                </div>
            </div>
        </div>
    </div>
</div>