<div class="contact">
    <i class="fas fa-headset"></i>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <p class="contact_title">Связаться</p>
                <span>Рабочее время: вс - четверг: 9 утра - 6 вечера</span>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <p class="contact_title_link">Позвоните нам сейчас</p>
                <a href="tel:88005681899">8800 (568 - 18 - 99)</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <p class="contact_title_link">Напишите нам через емаил</p>
                <a href="mailto:info@buaywin.uz">info@buaywin.uz</a>
            </div>
        </div>
    </div>
</div>