<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                <h3>Быстрые ссылки</h3>
                <ul>
                    <li><a href="#!">О Idealz </a></li>
                    <li><a href="#!">Мой Аккаунт</a></li>
                    <li><a href="#!">Активные Билеты</a></li>
                    <li><a href="#!">Кампании</a></li>
                    <li><a href="#!">Продукты</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                <h3>Компании</h3>
                <ul>
                    <li><a href="#!">Авто </a></li>
                    <li><a href="#!">Cash </a></li>
                    <li><a href="#!">Lifestyle </a></li>
                    <li><a href="#!">Часы </a></li>
                    <li><a href="#!">Электроника</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <h3>Обслуживание клиентов</h3>
                <ul>
                    <li><a href="#!">Свяжитесь с нами </a></li>
                    <li><a href="#!">Часто задаваемые вопросы </a></li>
                    <li><a href="#!">Как это работает </a></li>
                    <li><a href="#!">Благотворительная </a></li>
                    <li><a href="#!">Компания Розыгрыш Положения и условия</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <ul class="social">
                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#!"><i class="fab fa-facebook-messenger"></i></a></li>
                </ul>
                <p class="social_subtitle">Чтобы получить максимальный опыт покупок, <br>загрузите наше приложение.</p>
                <div class="footer_download">
                    <a href="#!"><img src="./images/carousel/google-play.svg" alt=""></a>
                    <a href="#!"><img src="./images/carousel/app-store.svg" alt=""></a>
                </div>
                
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="copyright_logo">
            <a href="#!"><img src="./images/logo.png" alt=""></a>
        </div>
        <p>BuyWin Enterprises LLC © 2020. All rights reserved. <a href="#!">User Agreement</a><a href="#!">Privacy Policy</a></p>
        <p class="copyright_rigth">We accept:
            <a href="#!"><img src="./images/f_pay.png" alt=""></a>
            <a href="#!"><img src="./images/f_pay_me.png" alt=""></a>
        </p>
    </div>
</div>