<div class="container">
    <div class="row justify-content-between">
        <div class="logo">
            <a href="./index.html">
                <img src="./images/logo.png" alt="">
            </a>
        </div>
        <a href="#!" class="how_it_works">Как это работает <i class="fas fa-caret-right"></i></a>
        <div class="header_burger">
            <i class="fas fa-bars header_burger_icon"></i>
        </div>
        <nav class="nav_bar">
            <ul>
                <li class="sub_menu">
                    <a href="#!">Продукты <i class="fas fa-chevron-circle-down"></i></a>
                    <ul>
                        <li><a href="/">Часы</a></li>
                        <li><a href="/">Авто</a></li>
                        <li><a href="/">Одежда</a></li>
                        <li><a href="/">Прочее</a></li>
                    </ul>
                </li>
                <li><a href="#!">Благотворительная</a></li>
                <li><a href="#!">Кампании</a></li>
            </ul>
        </nav>
        <div class="header_contact">
            <div class="header_contact_icon">
                <i class="fas fa-headset"></i>
            </div>
            <div class="header_contact_info">
                <a href="tel:88007867896"><b>Связаться</b>: 8 800 786 78 96</a>
                <a href="mailto:info@buywin.uz">e-mail: info@buywin.uz</a>
            </div>
        </div>
        <div class="header_registration">
            <div class="header_registration_icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="header_registration_info">
                <p><a href="#!">Регистрация</a><br> или <a href="#!">Войти</a></p>
            </div>
        </div>
        <div class="header_wishlist">
            <a href="#!"><i class="far fa-heart"></i></a>
            <span>1</span>
        </div>
        <div class="header_cart">
            <a href="#!"><i class="fas fa-shopping-basket"></i></a>
            <span>1</span>
        </div>
        <div class="header_language sub_menu">
            <p>Язык: <span class="lang">Eng</span></p>
            <a href="#!"><i class="fas fa-chevron-circle-down"></i></a>
            <ul>
                <li><a href="#!">Ru</a></li>
                <li><a href="#!">Uzb</a></li>
            </ul>
        </div>
    </div>
</div>