<div class="modal_product">
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body-img col-5">
                        <img src="/images/product/66.png" alt="">
                    </div>
                    <div class="modal-body-content col-7">
                        <p class="modal-body-content-title">Получи шанс выграть <br><strong>Iphone 11 pro</strong></p>
                        <p>Оставайтесь увлажненными и
                            заряженными энергией с нашей
                            новой колбой Saava Оставайтесь
                            увлажненными и заряженными энергией
                            с нашей новой колбой Saava</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>