<section class="product">
    <div class="container">
        <nav class="product_tab">
            <div class="product_tab_row">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">Все компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="pills-clock-tab" data-toggle="pill" href="#pills-clock" role="tab" aria-controls="pills-clock" aria-selected="false">Часы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-auto-tab" data-toggle="pill" href="#pills-auto" role="tab" aria-controls="pills-auto" aria-selected="false">Авто</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-clothing-tab" data-toggle="pill" href="#pills-clothing" role="tab" aria-controls="pills-clothing" aria-selected="false">Одежда</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-other-tab" data-toggle="pill" href="#pills-other" role="tab" aria-controls="pills-other" aria-selected="false">Прочее</a>
                    </li>
                </ul>
                <form class="product_search">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Поик по товаром">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </nav>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane  show active animated bounceInLeft faster " id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                //= card.html
            </div>
            <div class="tab-pane  animated bounceInLeft faster" id="pills-clock" role="tabpanel" aria-labelledby="pills-clock-tab">
                //= card.html
            </div>
            <div class="tab-pane  animated bounceInLeft faster" id="pills-auto" role="tabpanel" aria-labelledby="pills-auto-tab">
                //= card.html
            </div>
            <div class="tab-pane  animated bounceInLeft faster" id="pills-clothing" role="tabpanel" aria-labelledby="pills-clothing-tab">
                //= card.html
            </div>
            <div class="tab-pane  animated bounceInLeft faster" id="pills-other" role="tabpanel" aria-labelledby="pills-other-tab">
                //= card.html
            </div>
        </div>
    </div>
</section>