<section class="sliader">
    <div class="owl-carousel owl-sliader">
        <div class="item" style="background-image:url(./images/carousel/1.jpg);">
            <div class="container">
                <h1 class="sliader_title">Download now <br><span>and start shopping</span></h1>
                <div class="download_app">
                    <a href="#!">
                        <img src="./images/carousel/google-play.svg" alt="">
                    </a>
                    <a href="#!">
                        <img src="./images/carousel/app-store.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(./images/carousel/1.jpg);">
            <div class="container">
                <h1 class="sliader_title">Download now <br><span>and start shopping</span></h1>
                <div class="download_app">
                    <a href="#!">
                        <img src="./images/carousel/google-play.svg" alt="">
                    </a>
                    <a href="#!">
                        <img src="./images/carousel/app-store.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(./images/carousel/1.jpg);">
            <div class="container">
                <h1 class="sliader_title">Download now <br><span>and start shopping</span></h1>
                <div class="download_app">
                    <a href="#!">
                        <img src="./images/carousel/google-play.svg" alt="">
                    </a>
                    <a href="#!">
                        <img src="./images/carousel/app-store.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(./images/carousel/1.jpg);">
            <div class="container">
                <h1 class="sliader_title">Download now <br><span>and start shopping</span></h1>
                <div class="download_app">
                    <a href="#!">
                        <img src="./images/carousel/google-play.svg" alt="">
                    </a>
                    <a href="#!">
                        <img src="./images/carousel/app-store.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(./images/carousel/1.jpg);">
            <div class="container">
                <h1 class="sliader_title">Download now <br><span>and start shopping</span></h1>
                <div class="download_app">
                    <a href="#!">
                        <img src="./images/carousel/google-play.svg" alt="">
                    </a>
                    <a href="#!">
                        <img src="./images/carousel/app-store.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>