<div class="we_count we_count_anim_b2">
    <div class="container">
        <h2>Мы в цифрах</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="we_count_card">
                    <div class="we_count_card_count we_count_anim">
                        <span>587</span>
                    </div>
                    <div class="we_count_card_title">
                        <p>Получи шанс выграть <br><strong>Iphone 11 pro</strong></p>
                        <div class="we_count_card_title_sub">
                            Unlock your artistic potential with the
                            kiru pencil from our bespoke
                            stationery collection.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="we_count_card">
                    <div class="we_count_card_count we_count_anim">
                        <span>428</span>
                    </div>
                    <div class="we_count_card_title">
                        <p>Получи шанс выграть <br><strong>Iphone 11 pro</strong></p>
                        <div class="we_count_card_title_sub">
                            Unlock your artistic potential with the
                            kiru pencil from our bespoke
                            stationery collection.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="we_count_card">
                    <div class="we_count_card_count we_count_anim">
                        <span>624</span>
                    </div>
                    <div class="we_count_card_title">
                        <p>Получи шанс выграть <br><strong>Iphone 11 pro</strong></p>
                        <div class="we_count_card_title_sub">
                            Unlock your artistic potential with the
                            kiru pencil from our bespoke
                            stationery collection.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>