<section class="we_support">
    <div class="container">
        <h2>Благотворительные организации, которые мы поддерживаем</h2>
        <div class="owl-carousel we_support_carousel">
            <div class="we_support_card">
                <img src="./images/product/15.png" alt="">
                <div class="we_support_card_content">
                    <p>Благотворительные</p>
                    <h3>Ваши пожертвования <br>
                        меняют <br>
                        жизнь
                    </h3>
                    <a href="#!" class="we_support_card_content_btn">Подробнее</a>
                </div>
            </div>
            <div class="we_support_card">
                <img src="./images/product/16.png" alt="">
                <div class="we_support_card_content">
                    <p>Благотворительные</p>
                    <h3>Ваши пожертвования <br>
                        меняют <br>
                        жизнь
                    </h3>
                    <a href="#!" class="we_support_card_content_btn">Подробнее</a>
                </div>
            </div>
            <div class="we_support_card">
                <img src="./images/product/15.png" alt="">
                <div class="we_support_card_content">
                    <p>Благотворительные</p>
                    <h3>Ваши пожертвования <br>
                        меняют <br>
                        жизнь
                    </h3>
                    <a href="#!" class="we_support_card_content_btn">Подробнее</a>
                </div>
            </div>
            <div class="we_support_card">
                <img src="./images/product/16.png" alt="">
                <div class="we_support_card_content">
                    <p>Сотрудничество</p>
                    <h3>Охват 18 миллионов <br>
                        бенефициаров <br>
                        в 53 странах
                    </h3>
                    <a href="#!" class="we_support_card_content_btn">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>