@import '_var.less';
@import '_mixin.less';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: "Circe";
}

.wrapper {
    // overflow: hidden;
}

body {
    font-family: "Circe";
    // font-style: normal;
    // font-weight: normal;
    // font-size: 16px;
    // line-height: 24px;
    background: @color_body_bg;
}

h1 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 48px;
}

h2 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
h4 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

p {
    font-size: 16px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}


strong {
    font-weight: bold;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
}

.label-cbx input:checked+.checkbox {
    border-color: @color_gray;
}

.label-cbx input:checked+.checkbox svg path {
    fill: none;
}

.label-cbx input:checked+.checkbox svg polyline {
    stroke-dashoffset: 0;
}

.label-cbx:hover .checkbox svg path {
    stroke-dashoffset: 0;
}

.label-cbx .checkbox {
    position: relative;
    top: 2px;
    float: left;
    margin-top: 5px;
    margin-right: 8px;
    width: 11px;
    height: 11px;
    border: 1px solid #C8CCD4;
    border-radius: 3px;
}

.label-cbx .checkbox svg {
    position: absolute;
    top: -5px;
    left: -2px;
}

.label-cbx .checkbox svg path {
    fill: none;
    stroke: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all .6s ease;
}

.label-cbx .checkbox svg polyline {
    fill: none;
    stroke: @color_blue;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all .3s ease;
}

.label-cbx>span {
    font-size: 12px;
    font-family: "Circe";
    color: @color_gray;
    line-height: 1.2;
    margin-top: 5px;
    a{
        text-decoration: underline;
    }
}

.cntr {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        font-size: 12px;
        font-family: "Circe";
        color: @color_gray;
        line-height: 1.2;
        margin-top: 5px;
        transition: all 0.3s ease;
        &:hover{
            color: @color_red;
        }
    }
}

.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
