@color_write: #fff;
@color_body_bg: #f3f3f3;
@color_black: #000;
@color_blue: #2f85e9;
@color_red: #e41e25;
@color_grin: #61c652;
@color_gray: #d9d8d8;



@xl: 1199.5px;
@lg: 991.5px;
@md: 767.5px;
@sm: 575.5px;