@import '_var.less';
@import '_mixin.less';
.about{
    &_content{
        margin-top: 110px;
        .media(@md,{
            margin-top: 30px;
        });
        h2{
            font-size: 35px;
            line-height: 1;
            font-weight: bold;
            color: @color_black;
            display: flex;
            align-items: center;
            margin-bottom: 55px;
            

            .media(@sm, {
                    font-size: 20px;
                    margin-bottom: 30px;
                }

            );

            &:before {
                content: '';
                height: 3px;
                width: 43px;
                background: @color_black;
                display: block;
                margin-right: 35px;

                .media(@sm, {
                        height: 1px;
                        margin-right: 15px;
                    }

                );
            }
        }
        &_text{
            margin-bottom: 55px;
            .media(@md,{
                margin-bottom: 20px;
            });
            p{
                margin-bottom: 20px;
                font-size: 18px;
            }
        }
    }
}