@import '_var.less';
@import '_mixin.less';
.basket{
    padding-top: 65px;
    h2 {
        font-size: 25px;
        line-height: 1;
        font-weight: bold;
        color: @color_black;
        display: flex;
        align-items: center;
        margin-bottom: 55px;


        .media(@sm, {
                font-size: 20px;
                margin-bottom: 30px;
            }

        );

        &:before {
            content: '';
            height: 3px;
            width: 43px;
            background: @color_black;
            display: block;
            margin-right: 35px;

            .media(@sm, {
                    height: 1px;
                    margin-right: 15px;
                }

            );
        }
    }
    &_cart{
        display: flex;
        justify-content: space-between;
        background: @color_write;
        border-radius: 12px;
        box-shadow: 6.883px 9.83px 84px 0px rgba(61, 61, 61, 0.05);
        margin-bottom: 22px;
        &_del{
            width: 20px;
            margin-left: 10px;
            &:hover{
                i{
                    color: @color_red;
                }
            }
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: @color_gray;
            }
        }
        &_img{
            width: 130px;
            height: 135px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid @color_gray;
            border-radius: 2px;
            margin-left: 12px;
            margin-top: 27px;
            margin-bottom: 29px;
            margin-right: 15px;
            img{
                height: 100%;
                width: 100%;
                position: relative;
                object-fit: contain;
            }
        }
        &_info{
            margin-top: 35px;
            p{
                font-weight: bold;
            }
            span{
                color: #9b9b9b;
            }
        }
        .second_block_text{
            margin-top: 13px;
            &_green{
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                span{
                    color: @color_grin;
                }
            }
            &_red{
                font-size: 15px;
                font-weight: bold;
                text-align: center;

                span {
                    color: @color_red;
                    margin-left: 10px;
                }
            }
        }
        &_count{
            position: relative;
            user-select: none;
            input{
                width: 60px;
                height: 100%;
                border-radius: 0px 12px 12px 0px;
                border: 1px solid @color_gray;
                text-align: center;
                user-select: none;
                font-size: 23px;
            }
            .inc{
                font-size: 25px;
                color: #9b9b9b;
                position: absolute;
                top: 0;
                width: 100%;
                right: 0;
                text-align: center;
                cursor: pointer;
                border-radius: 0px 12px 0 0px;
                &:hover{
                    background:@color_gray;
                }
            }
            .dec {
                font-size: 25px;
                color: #9b9b9b;
                position: absolute;
                bottom:0;
                width: 100%;
                right: 0;
                text-align: center;
                cursor: pointer;
                border-radius: 0px 0px 12px 0px;
                &:hover{
                    background:@color_gray;
                }
            }
        }
    }
    .toggle {
        position: absolute;
        width: 65px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    [type="checkbox"] {
        display: none;
    }

    .check-label {
        display: block;
        width: 65px;
        height: 30px;
        border: none;
        border-radius: 3rem;
        background: #d7d7d7;
        cursor: pointer;
        overflow: hidden;

        .face {
            display: block;
            position: absolute;
            content: '';
            top: 2.5px;
            bottom: 0;
            right: 37px;
            width: 23px;
            height: 23px;
            margin: 0;
            border: none;
            border-radius: 3rem;
            background: -webkit-linear-gradient(45deg, #dedede 0%, #fff 70%);
            background: -o-linear-gradient(45deg, #dedede 0%, #fff 70%);
            background: linear-gradient(45deg, #dedede 0%, #fff 70%);
            -webkit-transition: all 0.45s ease-in-out;
            -o-transition: all 0.45s ease-in-out;
            transition: all 0.45s ease-in-out;
            overflow: hidden;
        }
    }

    [type="checkbox"] {
        +.check-label #background {
            width: inherit;
            height: inherit;
            border: none;
            border-radius: inherit;
            background: -webkit-gradient(linear, right top, left top, from(@color_blue), to(@color_red));
            background: -webkit-linear-gradient(right, @color_blue, @color_red);
            background: -o-linear-gradient(right, @color_blue, @color_red);
            background: linear-gradient(to left, @color_blue, @color_red);
            opacity: 0;
            -webkit-transition: all 0.45s ease-in-out;
            -o-transition: all 0.45s ease-in-out;
            transition: all 0.45s ease-in-out;
            
        }

        &:checked+.check-label #background {
            opacity: 0.5;
        }
    }

    .face-container {
        position: absolute;
        width: 25px;
        height: 25px;
    }

    .face {
        -webkit-box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
    }

    .eye {
        position: absolute;
        top: 10px;
        height: 2px;
        width: 2px;
        background: #8e8e8e;
        border-radius: 0 0 100% 50%;

        &.left {
            left: 5px;
        }

        &.right {
            left: 10px;
        }
    }

    .mouth {
        position: absolute;
        top: 15px;
        left: 7px;
        width: 5px;
        height: 2px;
        background: #8e8e8e;
        border-radius: 40% 40% 100% 50%;
    }

    [type="checkbox"] {
        &:checked {
            +.check-label .face {
                right: 3.5px;

                .face-container {
                    -webkit-animation: rotateElement forwards 0.3s;
                    animation: rotateElement forwards 0.3s;
                }

                .eye {

                    &.left,
                    &.right {
                        -webkit-animation: changeFace forwards 0.3s 0.075s;
                        animation: changeFace forwards 0.3s 0.075s;
                    }
                }

                .mouth {
                    -webkit-animation: changeMouth forwards 0.3s 0.075s;
                    animation: changeMouth forwards 0.3s 0.075s;
                }
            }

            +.check-label .face .eye {
                &.left {
                    left: 10px;
                }

                &.right {
                    left: 15px;
                }
            }
        }

        +.check-label .face {
            .face-container {
                -webkit-animation: rotateElementReverse forwards 0.3s;
                animation: rotateElementReverse forwards 0.3s;
            }

            .eye {

                &.left,
                &.right {
                    -webkit-animation: changeFaceReverse forwards 0.3s;
                    animation: changeFaceReverse forwards 0.3s;
                }
            }

            .mouth {
                -webkit-animation: changeMouthReverse forwards 0.3s;
                animation: changeMouthReverse forwards 0.3s;
            }
        }
    }

    @-webkit-keyframes rotateElement {
        0% {
            left: 0;
        }

        25% {
            left: 4rem;
        }

        30% {
            opacity: 0;
        }

        50% {
            opacity: 0;
            left: -4rem;
        }

        90% {
            opacity: 1;
        }

        100% {
            left: 0rem;
            opacity: 1;
        }
    }


    @keyframes rotateElement {
        0% {
            left: 0;
        }

        25% {
            left: 4rem;
        }

        30% {
            opacity: 0;
        }

        50% {
            opacity: 0;
            left: -4rem;
        }

        90% {
            opacity: 1;
        }

        100% {
            left: 0px;
            opacity: 1;
        }
    }


    @-webkit-keyframes changeFace {
        100% {
            top: 10px;
            width: 2px;
            height: 2px;
            background: #8e8e8e;
            border: none;
            border-radius: 100%;
        }
    }


    @keyframes changeFace {
        100% {
            top: 10px;
            width: 2px;
            height: 2px;
            background: #8e8e8e;
            border: none;
            border-radius: 100%;
        }
    }


    @-webkit-keyframes changeMouth {
        100% {
            top: 15px;
            left: 8px;
            height: 4px;
            width: 10px;
            background: #8e8e8e;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
            background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
            background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
            background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
            border-radius: 0.2rem 0.2rem 1rem 1rem;
        }
    }


    @keyframes changeMouth {
        100% {
            top: 15px;
            left: 8px;
            height: 4px;
            width: 10px;
            background: #8e8e8e;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
            background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
            background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
            background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
            border-radius: 0.2rem 0.2rem 1rem 1rem;
        }
    }


    @-webkit-keyframes rotateElementReverse {
        0% {
            left: 0;
        }

        25% {
            left: -4rem;
        }

        30% {
            opacity: 0;
        }

        50% {
            opacity: 0;
            left: 4rem;
        }

        90% {
            opacity: 1;
        }

        100% {
            left: 0;
            opacity: 1;
        }
    }


    @keyframes rotateElementReverse {
        0% {
            left: 0;
        }

        25% {
            left: -4rem;
        }

        30% {
            opacity: 0;
        }

        50% {
            opacity: 0;
            left: 4rem;
        }

        90% {
            opacity: 1;
        }

        100% {
            left: 0;
            opacity: 1;
        }
    }


    @-webkit-keyframes changeFaceReverse {
        0% {
            top: 1.7rem;
            width: 0.375rem;
            height: 0.375rem;
            border: none;
            border-radius: 100%;
            background: #8e8e8e;
        }
    }


    @keyframes changeFaceReverse {
        0% {
            top: 1.7rem;
            width: 0.375rem;
            height: 0.375rem;
            border: none;
            border-radius: 100%;
            background: #8e8e8e;
        }
    }


    @-webkit-keyframes changeMouthReverse {
        0% {
            top: 2.55rem;
            left: 0.9rem;
            height: 0.625rem;
            width: 1.625rem;
            background: #8e8e8e;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
            background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
            background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
            background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
            border: none;
            border-radius: 0.2rem 0.2rem 1rem 1rem;
        }

        25% {
            left: 1.125rem;
        }
    }


    @keyframes changeMouthReverse {
        0% {
            top: 2.55rem;
            left: 0.9rem;
            height: 0.625rem;
            width: 1.625rem;
            background: #8e8e8e;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
            background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
            background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
            background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
            border: none;
            border-radius: 0.2rem 0.2rem 1rem 1rem;
        }

        25% {
            left: 1.125rem;
        }
    }
}