@import '_var.less';
@import '_mixin.less';
.bywin_product{
    padding-top: 80px;
    h2{
        font-size: 25px;
        line-height: 1;
        color: @color_black;
        display: flex;
        align-items: center;
        margin-bottom: 58px;
        .media(@sm,{
            font-size: 20px;
            margin-bottom: 30px;
        });
        &:before{
            content: '';
            height: 3px;
            width: 43px;
            background: @color_black;
            display: block;
            margin-right: 35px;
            .media(@sm,{
                height: 1px;
                margin-right: 15px;
            });
        }
    }
    &_card{
        &_img{
            height: 335px;
            margin-bottom: 35px;
            .media(@md,{
                height: 190px;
            });
            img{
                position: relative;
                width: 100%;
            }
        }
        &_title{
            font-size: 20px;
            font-family: "Circe";
            color: @color_black;
            line-height: 1.2;
            margin-left: 23px;
        }
    }

}
.bywin_product_carousel{
    .owl-nav{
        position: absolute;
        top: -98px;
        right: 0;
        display: flex;
        justify-content: flex-end;
        .media(@sm,{
            top: 100%;
            justify-content: center;
            width: 100%;
        });
        .owl-prev{
            margin-right: 65px;
            &:focus{
                outline: none;
            }
        }
        .owl-next{
            &:focus{
                outline: none;
            }
        }
    }
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot{
font-size: 32px;
color: @color_gray;
}