@import '_var.less';
@import '_mixin.less';
.contact{
    background: #fafafa;
    height: 180px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-top: 1px solid @color_gray;
    border-bottom: 1px solid @color_gray;
    margin-top: 53px;
    .media(@lg,{
        height: auto;
        padding-top: 15px;
    });
    i{
        font-size: 300px;
        position: absolute;
        left: 0;
        right: 0;
        color: #f8eaeb;
    }
    &_title{
        font-size: 35px;
        color: #4a4a4a;
        line-height: 1;
        margin-bottom: 35px;
        &_link{
            color: #9b9b9b;
            font-size: 25px;
            margin-bottom: 25px;
        }
    }
    a{
        font-size: 30px;
        color: @color_red;
        transition: all 0.3s ease-in-out;
        font-weight: bold;
        &:hover{
            color: @color_blue;
        }
    }
}