@import '_var.less';
@import '_mixin.less';
.footer{
    padding-top: 65px;
    padding-bottom: 85px;
    background: @color_write;
    h3{
        font-size: 20px;
        color: #4a4a4a;
        margin-bottom: 20px;
    }
    ul{
        li{
            margin-bottom: 25px;
            .media(@md,{
                margin-bottom: 10px;
            });
            a{
                font-size: 14px;
                color: #838383;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: @color_red;
                }
            }
        }
    }
    .social{
        display: flex;
        padding-bottom: 40px;
        li{
            margin: 0px 10px;
            .media(@md,{
                margin: 0px 5px;
            });
            &:first-child{
                margin: 0;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background: @color_gray;
                font-size: 25px;
                color: #4a4a4a;

            }
        }
        &_subtitle{
            font-size: 14px;
            color: #838383;
            margin-bottom: 35px;
        }
    }
    &_download{
        display: flex;
        a{
            width: 142px;
            img{
                width: 100%;
                height: 43px;
            }
            &:first-child{
                margin-right: 15px;
            }
        }
    }
}
.copyright{
    padding: 15px 0px;
    border-top: 1px solid @color_gray;
    border-bottom: 1px solid @color_gray;
    background: #fafafa;
    &_logo{
        width: 122px;
        img{
            width: 100%;
        }

    }
    .container{
        display: flex;
        align-items: center;
        .media(@md,{
            flex-direction: column;
            text-align: center;
            justify-content: center;
        });
    }
    p{
        margin-top: 10px;
        margin-left: 23px;
        color: #9b9b9b;
        font-size: 14px;
        
        a{
            color: #9b9b9b;
            text-decoration: underline;
            margin-right: 10px;
        }
    }
    &_rigth{
        margin-left: auto !important;
        display: flex;
        align-items: center;
        margin-right: 40px;
        .media(@lg, {
                margin-left: 0 !important;
                margin-right: 0px !important;
                white-space: nowrap;
            }

        );
        a{
            margin-right: 20px;
            .media(@xl, {
                    margin-right: 0px;
                }

            );
            &:first-child{
                margin-left: 20px;
                .media(@xl, {
                        margin-left: 10px;
                    }

                );
            }
        }
    }
}
.modal_product{
    .modal-header .close{
        padding-bottom: 0;
        font-size: 30px;
        opacity: 1;
        &:focus{
            outline: none;
        }
    }
    .modal-dialog{
        max-width:1000px;
    }
    .modal-header{
        border:none;
    }
    .modal-body{
        display:flex;
        justify-content: center;
        padding-bottom:50px;
        padding-left: 50px;
        &-img{
            img{
                width:100%;
            }
        }
        &-content{
            
            &-title{
                font-size: 42px;
                margin-bottom:70px;
            }
        }
    }
}