@import '_var.less';
@import '_mixin.less';
.header{
    background: @color_write;
    .media(@sm,{
        background: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
    });
    .container{
        .row{
            position: relative;
        }
    }
    .logo{
        display: flex;
        align-items: center;
        width: 145px;
        .media(@sm,{
            width: 100px;
        });
        img{
            display: block;
            width: 100%;
        }
        .media(@sm,{
            padding-left: 15px;
        });
    }
    .how_it_works{
        font-size: 12px;
        font-family: "Circe";
        color: @color_black;
        font-weight: bold;
        line-height: 1.2;
        display: flex;
        align-items: center;
        margin-left: 25px;
        margin-right: 30px;
        .media(@lg, {
            margin: 0;
            padding: 15px;
        });
        .media(@sm,{
            justify-content: center;
            font-size: 20px;
        });
        i{
            font-size: 15px;
            color: @color_red;
            margin-left: 5px;
        }
    }
    &_burger{
        align-items: center;
        width: 40px;
        display: none;
        .media(@xl,{
            display: flex;
            justify-content: center;
        });
        
        &_icon{
            font-size: 30px;
            cursor: pointer;
        }
    }
    
    .nav_bar{
        display: flex;
        align-items: center;
        z-index: 100;
        .media(@xl,{
            display: none;
            position: absolute;
            right: 0;
            top: 100%;
            background: @color_write;
        });
        .media(@md, {
            width: 100%;
        });
        .menu_mobile_link{
            width: 30%;
            display: inline-block;
            .media(@sm,{
                width: 100%;
            });
        }
        .menu_mobile{
            display: inline-block;
            width: 65%;
            height: auto;
            .media(@sm,{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            });
        }
        ul{
            display: flex;
            .media(@xl, {
                display: block;
            });
            li{
                margin-right: 30px;
                padding: 32px 0px;
                position: relative;
                cursor: pointer;
                .media(@xl, {
                    padding: 15px;
                });
                .media(@sm,{
                    margin-right: 0;
                });
                a{
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    font-family: "Circe";
                    color: @color_black;
                    line-height: 1.2;
                    .media(@sm,{
                        justify-content: center;
                        font-size: 20px;
                    });
                    i{
                        color: @color_gray;
                        margin-left: 4px;
                    }
                }
                ul {
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    left: 0;
                    background: @color_write;
                    display: none;
                    .media(@xl,{
                        position: relative;
                        padding-top: 10px;
                        padding-left: 20px;
                    });
                    .media(@sm,{
                        padding-left: 0;
                    });
                    li {
                        padding: 5px 10px;
                        display: flex;
                        align-items: center;
                        margin-left: 0;
                        margin-right: 0;
                        &:hover {
                            background: linear-gradient(#fff, @color_gray);
                        }
                        .media(@sm,{
                            justify-content: center;
                        });
                        a {
                            color: @color_black;
                            text-transform: uppercase;
                            font-size: 10px;
                            .media(@sm,{
                                font-size: 18px;
                            });
                        }
                    }
                }
            }
        }
    }
    &_contact{
        display: flex;
        align-items: center;
        margin-right: 30px;
        .media(@xl,{
            margin-right: 0;
        });
        .media(@md,{
            margin-right: 0;
            width: 50%;
            display: inline-block;
            text-align: center;
            margin-bottom: 55px;
        });
        .media(@sm,{
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
        });
        &_icon{
            margin-right: 8px;
            .media(@md,{
                margin-right: 0;
            });
            .media(@sm,{
                margin-right: 8px;
            });
            i{
                font-size: 30px;
                color: @color_blue;
                .media(@sm, {
                    font-size: 25px;
                    margin-bottom: 10px;
                });
            }
        }
        &_info{
            display: flex;
            flex-direction: column;
            a{
                font-size: 12px;
                font-family: "Circe";
                color: @color_black;
                font-weight: normal;
                line-height: 1.2;
                .media(@sm, {
                   font-size: 13px;
                });
            }
        }
    }
    &_registration{
        display: flex;
        align-items: center;
        margin-right: 10px;
        padding:0 15px;
        border-right: 1px solid @color_gray;
        border-left: 1px solid @color_gray;
        .media(@md, {
            margin-right: 0;
            width: 50%;
            display: inline-block;
            text-align: center;
            border: none;
            position: relative;
            top: 15px;
        });
        
        .media(@sm, {
            position: unset;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        });
        &_icon {
            margin-right: 8px;
            .media(@md,{
                margin-right: 0;
            });
            .media(@sm,{
                margin-right: 8px;
            });
            i {
                font-size: 20px;
                color: @color_gray;
            }
        }
        p{
            font-size: 16.43px;
            font-family: "Circe";
            color: @color_black;
            font-weight: normal;
            line-height: 1.2;
            .media(@sm, {
                   font-size: 13px;
                });
            a{
                font-family: "Circe";
                font-weight: bold;
                color: @color_black;
            }
        }
    }
    &_wishlist{
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 15px;
        .media(@md, {
            width: 30px;
            display: inline-block;
            margin-right: 60px;
        });
        .media(@sm,{
            margin: 0; 
        });
        a{
            font-size: 25px;
            color: @color_red;
        }
        span{
            background: @color_red;
            color: @color_write;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            font-weight: bold;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            font-size: 8px;
            position: absolute;
            right: -6px;
            top:40%;
            transform: translateY(-50%);
            padding-bottom: 2px;
        }
    }
    &_cart{
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 25px;
        .media(@md, {
            width: 30px;
            display: inline-block;
        });
        .media(@sm,{
            margin: 0; 
        });
        a{
            font-size: 25px;
            color: @color_gray;
        }
        span {
            background: @color_red;
            color: @color_write;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            font-weight: bold;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            font-size: 8px;
            position: absolute;
            right: -6px;
            top:40%;
            transform: translateY(-50%);
            padding-bottom: 2px;
        }
    }
    &_language{
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        .media(@md, {
            width: 68px;
            display: inline-block;
            margin-left: 120px;
        });
        .media(@sm,{
            margin: 0; 
            width: auto;
        });
        p{
            font-size: 12px;
            font-family: "Circe";
            color: @color_black;
            line-height: 1.2;
            .media(@md, {
                width: 55   px;
                display: inline-block;
            });
        }
        a{
            display: flex;
            align-items: center;
            .media(@md, {
                width: 10px;
                display: inline-block;
            });
            i{
                font-size: 10px;
                color: @color_gray;
                margin-left: 4px;
            }
        }
        ul{
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            background: @color_write;
            display: none;
            z-index: 2;
            .media(@xl,{
                display: none;
            });
            li{
                padding: 5px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .media(@sm, {
                    padding: 5px !important;
                });
                &:hover{
                    background: linear-gradient(#fff, @color_gray);
                }
                a{
                    color: @color_black;
                    text-transform: uppercase;
                    font-size: 10px;
                    .media(@sm, {
                        font-size: 12px !important;
                    });
                }
            }
        }
    }
}