@import '_var.less';
@import '_mixin.less';

.product{
    padding-top: 105px;
    border-bottom: 2px solid @color_gray;
    .media(@lg, {
        padding-top: 70px;
    });
    .media(@md, {
        padding-top: 50px;
    });
    .media(@sm, {
        padding-top: 30px;
    });
    .container{
        position: relative;
    }
    &_tab{
        margin-bottom: 65px;
        position: relative;
        .media(@md, {
            width: 100%;
            margin-bottom: 20px;
        });
        &_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .media(@md,{
                flex-direction: column-reverse;
            });
            .nav{
                flex-wrap: nowrap;
            }
            
            .nav-pills {
                .media(@lg, {
                    background: @color_write;
                    width: 50%;
                    position: relative;
                    overflow: auto;
                    padding: 0px 10px;
                    border-radius: 17px;
                });
                .media(@md, {
                    width: 100%;
                });
                .nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:first-child {
                        .nav-link{
                            font-family: "Circe";
                            border-radius: 29px;
                            background-color: @color_write !important;
                            box-shadow: 16.634px 23.755px 32px 0px rgba(61, 61, 61, 0.06);
                            width: 235px;
                            height: 58px !important;
                            color: @color_black;
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                            font-size: 22px;
                            margin-right: 25px;
                            margin-left: 0;
                            position: unset;
                            .media(@xl,{
                                width: 175px; 
                            });
                            .media(@lg, {
                                box-shadow: none;
                                margin: 0;
                                padding: 0;
                                width: auto;
                                white-space: nowrap;
                                height: 40px !important;
                                
                            });
                            .media(@sm, {
                                font-size: 18px;    
                            });
                            .tab_menu_sub{
                                margin-left: 10px;
                                color: @color_gray;
                                padding-right: 10px;
                                position: relative;
                                z-index: 2;
                            }
                        }
                    }
                    
                    .nav-link {
                        font-family: "Circe";
                        color: @color_black;
                        font-size: 22px;
                        margin: 0 20px;
                        padding: 0;
                        .media(@lg, {
                            margin: 0 10px;
                            width: auto;
                            height: auto;

                        });
                        .media(@sm, {
                                font-size: 18px;
                            }

                        );
                        &.active,
                        &.show>.nav-link {
                            color: @color_red;
                            background: transparent;
                        }
                        
                    }
                }
            }
                
        }
    }
    &_search{
        display: flex;
        align-items: center;
        .media(@md, {
            width: 100%;
            margin-bottom: 20px;
        });
        .form-group {
            display: flex;
            margin-bottom: 0;
            .media(@md, {
                width: 100%;
            });
        }
        input{
            background-color: @color_write;
            width: 371px;
            height: 40px;
            border: none;
            padding-left: 25px;
            border-radius: 17px 0px 0px 17px;
            .media(@xl,{
                width: 250px;
            });
            .media(@md, {
                width: 100%;
            });
        }
        button{
            height: 40px;
            width: 73px;
            border: none;
            border-radius: 0px 17px 17px 0px;
            background: @color_blue;
            display: flex;
            justify-content: center;
            align-items: center;
            color: @color_write;
        }
    }
    .card_tab{
        background-color: @color_write;
        box-shadow: 1px 23.755px 20px 0px rgba(61, 61, 61, 0.05);
        padding-top: 35px;
        padding-bottom: 35px;
        border-radius: 20px;
        margin-bottom: 30px;
        .first_block{
            display: flex;
            .media(@sm, {
                flex-direction: column;
            });
            &_img{
                width: 180px;
                display: flex;
                justify-content: center;
                .media(@sm, {
                    width: 100%;
                });
                img {
                    object-fit: contain;
                    height: 75%;
                }
            }
            &_title{
                h2{
                    font-size: 22px;
                    font-family: "Circe";
                    font-weight: bold;
                    color: @color_black;
                    line-height: 1.2;
                    margin-bottom: 20px;
                    .media(@sm, {
                        text-align: center;
                        br{
                            display: none;
                        }
                    });
                }
                p{
                    width: 210px;
                    font-size: 14px;
                    font-family: "Circe";
                    color: @color_black;
                    line-height: 1.2;
                    margin-bottom: 30px;
                    .media(@sm, {
                        text-align: center;
                        margin: 15px auto;
                    });
                }
    
            }
            &_cart{
                -moz-user-select: none;
                -khtml-user-select: none;
                user-select: none;
                display: flex;
                .media(@sm, {
                    justify-content: center;
                });
                input{
                    width: 65px;
                    height: 23px;
                    font-size: 14px;
                    font-family: "Circe";
                    border-radius: 3px;
                    border: 1px solid @color_gray;
                    text-align: center;
                    margin-left: -10px;
                }
                .inc{
                    right: -5px;
                    top: -2px;
                    position: relative;
                    cursor: pointer;
    
                }
                .dec {
                    left: -15px;
                    top: 0px;
                    position: relative;
                    cursor: pointer;
                }
                button{
                    height: 23px;
                    width: 130px;
                    background: @color_blue;
                    font-size: 12px;
                    color: @color_write;
                    border: none;
                    border-radius: 3px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: @color_write;
                        background: @color_red;
                    }
                }
            }
            &_price{
                width: 85px;
                margin-left: auto;
                .media(@sm, {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                });
                &_block{
                    background: @color_blue;
                    color: @color_write;
                    font-size: 12px;
                    width: 100%;
                    height: 23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    text-align: center;
                    border-radius: 17px 0 0 17px;
                    margin-bottom: 12px;
                    line-height: 1;
                }
                &_text{
                    font-size: 10px;
                    margin-bottom: 30px;
                    .media(@sm, {
                        display: none;
                    });
                }
                &_share,
                &_wishlist{
                    text-align: center;
                    .media(@sm, {
                        text-align: right;
                        margin-right: 15px;
                    });
                    a{
                        font-size: 25px;
                        color: @color_red;
                    }
                }
                &_share{
                    a{
                        color: @color_blue;
                    }
                }
            }
        }
        .second_block{
            display: flex;  
            align-items: center;
            padding-top: 20px;
            position: relative;
            .media(@sm, {
                position: absolute;
                top: 0;
                left: 0;
                height: 95px;
                width: 95px;
                background: fade(@color_red,70%);
                border: 5px solid @color_red;
                border-radius: 50%;
                padding-top: 0;
            });
            &::before{
                position: absolute;
                content: '';
                left: 0;
                top: 50% +18px;
                width: 100%;
                height: 2px;
                background: @color_gray;
                .media(@sm, {
                    content: none;
                });
            }
            &_img{
                margin-left: 42px;
                .media(@sm, {
                    display: none;
                });
                svg{
                    position: relative;
                    z-index: 2;
                }
            }
            &_text{
                margin-left: 50px;
                .media(@sm, {
                    text-align: center;
                    margin-left: 0;
                    margin: 0 auto;
                });
                &_green,
                &_red{
                    font-size: 26px;
                    color: @color_black;
                    font-family: "Circe";
                    .media(@sm, {
                        font-size: 10px;
                        color: @color_write;
                    });
                    
                }
                &_green{
                    margin-bottom: 8px;
                    .media(@sm, {
                        margin-bottom: 0;
                        line-height: 1;
                    });
                    span{
                        color: @color_grin;
                        margin-right: 8px;
                        .media(@sm, {
                            font-size: 18px;
                            color: @color_write;
                            margin-right: 0;
                            line-height: 1;
                            display: block;
                        });
                    }
                }
                &_red{
                    span{
                        color: @color_red;
                        margin-left: 10px;
                        .media(@sm, {
                            font-size: 18px;
                            color: @color_write;
                            margin-left: 0;
                            display: block;
                            line-height: 1;
                        });
                    }
                }
            }
        }
        .third_block{
            display: flex;
            padding-top: 30px;
            .media(@sm, {
                justify-content: center;
            });
            &_img{
                width: 180px;
                display: flex;
                justify-content: center;
                
                .media(@sm, {
                    display: none;
                });
                img{
                    object-fit: contain;
                    height: 75%;
                }
            }
            &_text {
                h2 {
                    font-size: 22px;
                    font-family: "Circe";
                    font-weight: bold;
                    color: @color_black;
                    line-height: 1.2;
                    margin-bottom: 20px;
                    .media(@sm, {
                        text-align: center;
                    });
                }
                p {
                    width: 210px;
                    font-size: 14px;
                    font-family: "Circe";
                    color: @color_black;
                    line-height: 1.2;
                    margin-bottom: 20px;
                    .media(@sm, {
                        text-align: center;
                    });
                }
                a{
                    color: @color_red;
                    font-size: 16px;
                    .media(@sm, {
                        display: flex;
                        justify-content: center;
                    });
                }
            }
        }
    }
    
}