@import '_var.less';
@import '_mixin.less';
.reg{
    padding-top: 75px;
    .media(@sm, {
        padding-top: 30px;
    });
    h2{
        font-size: 25px;
        line-height: 1;
        font-weight: bold;
        color: @color_black;
        display: flex;
        align-items: center;
        margin-bottom: 55px;

        .media(@sm, {
                font-size: 20px;
                margin-bottom: 30px;
            }

        );

        &:before {
            content: '';
            height: 3px;
            width: 43px;
            background: @color_black;
            display: block;
            margin-right: 35px;

            .media(@sm, {
                    height: 1px;
                    margin-right: 15px;
                }

            );
        }
    }
    &_content{
        max-width: 655px;
        width: 100%;
        margin: 0 auto;
        
        .nav-tabs{
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            border: none;
        }
        .nav-item{
            text-align: center;
            padding: 0;
            border:  none;
            
            a{
                border: none;
                color: @color_black;
                background: #f1f1f1;
            }
        }
        .tab-content{
            padding: 45px 25px;
            background: @color_write;
            border-radius: 17px;
            
            form{
                .form-group{
                    margin: 0;
                    input{
                        height: 45px;
                        border: 1px solid @color_gray;
                        color: @color_black;
                        margin-bottom: 35px;
                        font-size: 15px;
                        font-family: "Circe";
                        line-height: 1.2;

                        &::placeholder{
                            color: @color_gray;
                            font-size: 15px;
                            font-family: "Circe";
                            line-height: 1.2;
                        }
                        &.form-check-input{
                            height: auto;
                            margin-bottom: 40px;
                        }
                    }
                    select{
                        height: 45px;
                        border: 1px solid @color_gray;
                        color: @color_gray;
                        margin-bottom: 35px;
                        font-size: 15px;
                        font-family: "Circe";
                        line-height: 1.2;
                        appearance: none;
                        position: relative;
                        background: url(../images/down.png) no-repeat 92% 53%;
                        background-size: 8%;
                        
                    }
                    &.form-check{
                        margin-bottom: 40px;
                    }
                }
                .btn-form-reg{
                    border-radius: 3px;
                    background-color: @color_blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: @color_write;
                    height: 30px;
                    padding: 0 20px;
                }
            }
        }
    }
}