@import '_var.less';
@import '_mixin.less';
.sliader{
    &_title{
        font-size: 57px;
        font-family: "Circe";
        color: @color_write;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        padding-top: 130px;
        padding-bottom: 65px;
        .media(@sm,{
            font-size: 15.71px;
            padding-top: 14px;
            padding-bottom: 14px;
        });
        span{
            text-transform: lowercase;
        }
    }
    .download_app{
        display: flex;
        padding-bottom: 180px;
        .media(@sm,{
            padding-bottom: 28px;
        });
        a{
            margin-right: 70px;
            .media(@sm,{
                margin-right: 15px;
            });
            &:last-child{
                margin-right: 0;
            }
            img{
                width: 190px;
                height: 56px;
                .media(@sm,{
                    width: 46px;
                });
            }
        }
    }
}
.owl-carousel.owl-sliader{
    .owl-item{
        .item{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .owl-nav{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        max-width: 1310px;
        width: 100%;
        margin: 0 auto;
        button{
            i{
                font-size: 32px;
                color: @color_write;
                .media(@sm,{
                    font-size: 12px;
                });
            }
        }
    }
    .owl-dots{
        position: absolute;
        right: 50%;
        bottom: 45px;
        display: flex;
        .media(@sm,{
            bottom: 5px;
            transform: translateX(50%);
        });
        .owl-dot{
            width: 10px;
            height: 10px;
            display: block;
            border-radius: 50%;
            border: 1px solid @color_write;
            margin: 6px;
            .media(@sm,{
                width: 5px;
                height: 5px;
                margin: 3px;
            });
            &.active{
                background: @color_write;
            }
        }
    }
}