@import '_var.less';
@import '_mixin.less';
.we_count{
    padding-top: 50px;
     .media(@sm, {
             padding-top: 70px;
         }

     );
    h2 {
        font-size: 40px;
        line-height: 1;
        color: @color_black;
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        .media(@sm, {
                font-size: 25px;
                margin-bottom: 30px;
            }

        );
        &:before {
            content: '';
            height: 3px;
            width: 43px;
            background: @color_black;
            display: block;
            margin-right: 35px;
            .media(@sm, {
                    height: 1px;
                    margin-right: 15px;
                }

            );
        }
    }
    &_card{
        &_count{
            width: 310px;
            height: 310px;
            margin: 0 auto;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .media(@xl, {
                    width: 250px;
                    height: 250px;
                }

            );
            .media(@sm, {
                    width: 250px;
                    height: 250px;
                }

            );
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 30px solid @color_write;
                display: block;
            }
            &::after{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 65%;
                height: 65%;
                border-radius: 50%;
                border: 10px solid @color_write;
                display: block;
            }
            span{
                color: @color_red;
                font-size: 70px;
                font-weight: 900;
            }

        }
        &_title{
            text-align: center;
            p{
                font-size: 24px;
                color: @color_black;
                margin: 40px 0px;
                .media(@sm, {
                        margin: 20px 0;
                    }

                );
            }
            &_sub{
                width: 250px;
                font-size: 15px;
                color: @color_black;
                margin: 0 auto;
                .media(@md, {
                        margin-bottom: 20px;
                    }

                );
            }
        }
    }
}