@import '_var.less';
@import '_mixin.less';
.we_support{
    padding-top: 80px;
    h2 {
        font-size: 25px;
        line-height: 1;
        color: @color_black;
        display: flex;
        align-items: center;
        margin-bottom: 58px;
        .media(@sm, {
                font-size: 20px;
                margin-bottom: 30px;
            }

        );
        &:before {
            content: '';
            height: 3px;
            width: 43px;
            background: @color_black;
            display: block;
            margin-right: 35px;
            .media(@sm, {
                    height: 1px;
                    margin-right: 15px;
                }

            );
        }
    }
    &_card{
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 1;
            .media(@sm, {
                   object-fit: cover;
                }

            );
        }
        &_content{
            position: relative;
            z-index: 2;
            padding: 60px 50px;
            color: @color_write;
            .media(@sm, {
                    padding: 20px;
                }

            );
            p{
                font-size: 18px;
                margin-bottom: 15px;  
            }
            h3{
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 50px;
            }
            &_btn{
                border-radius: 5px;
                background-color: @color_blue;
                width: 142px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: @color_write;
                font-size: 16px;
                transition: all 0.3s ease-in-out;
                 &:hover {
                     color: @color_write;
                     background: @color_red;
                 }
            }
        }
    }
    &_carousel{
        .owl-nav {
            position: absolute;
            top: -98px;
            right: 0;
            display: flex;
            justify-content: flex-end;
            .media(@sm, {
                    top: 100%;
                    justify-content: center;
                    width: 100%;
                }

            );
            .owl-prev {
                margin-right: 65px;
    
                &:focus {
                    outline: none;
                }
            }
    
            .owl-next {
                &:focus {
                    outline: none;
                }
            }
        }
    }
}